<nav class="flex justify-between p-4">
    <a routerLink="/" class="text-1xl font-bold">
        EventMap
    </a>

    <ul class="flex gap-4">
        <ng-container *ngIf="!(readSignin$ | async)">
            <li><a routerLink="/">Sign in</a></li>
            <li><a routerLink="/signup">Sign up</a></li>
        </ng-container>

        <ng-container *ngIf="(readSignin$ | async)">
            <li><a routerLink="/signout">Sign Out</a></li>
        </ng-container>
    </ul>
</nav>

<router-outlet></router-outlet>
